.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#rax {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center, if needed */
}
#at {
  margin: 10vh;
  width: 30vh;
  height: 10vh;
  border-radius: 45;
}

#silver {
  font-weight: bold;
  font-size: 20;
}

#kek {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center, if needed */
}

.App-header {
  background-color: #282c34 white !important;;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white !important;
}

.App-link {
  color: #61dafb white !important;;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.progressbar{
  animation: progress;
  animation-duration: 15s;
  animation-timing-function: linear;
}
@keyframes progress {
  0%{
    width: 100vw;
  }
  100%{
    width: 0vw;
  }
}